<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.soa.dao.EstimatedProcessMapper">

	<sql id="Base_Column_List">
		orgid, 
			usernum, 
			name, 
			parent_id, 
			user_password, 
			state,
			is_parent, 
			note,
			remark1,
			remark2 
	</sql>
	
	<select id="findUserByRoleName" resultType="cn.soa.entity.UserOrganization">
		SELECT 
			<include refid="Base_Column_List"></include>
		FROM 
			iot_user_organization 
		WHERE 
			usernum in (
		SELECT 
			userid 
		FROM 
			iot_user_user_role 
		WHERE 
		
		rolid=(
		
		SELECT 
			rolid 
		FROM 
			iot_user_role 
		WHERE 
		
			name = (
		SELECT 
			rolename1 
		FROM 
			iot_user_role_role 
		WHERE 
			rolename=#{roleName})))
	</select>

</mapper>