<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.soa.dao.EstimatedProcessMapper">

	<select id="findUserByRoleName" resultType="cn.soa.entity.UserInfo">
		SELECT 
			usernum,nname 
		FROM 
			iot_user_info 
		WHERE 
			usernum in (
		SELECT 
			userid 
		FROM 
			iot_user_user_role 
		WHERE 
			rolid = (
		SELECT 
			rolename1 
		FROM 
			iot_user_role_role 
		WHERE 
			rolename=#{roleName}))
	</select>

</mapper>