<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.soa.dao.IndexInfoRoleMapper">
	<resultMap id="BaseResultMap"
		type="cn.soa.entity.IndexInfoRole">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
		<result column="PAGE_ID" jdbcType="VARCHAR" property="pageId" />
		<result column="PAGE_NAME" jdbcType="VARCHAR"
			property="pageName" />
		<result column="NAME" jdbcType="VARCHAR" property="roleName" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, ROLE_ID, PAGE_ID, PAGE_NAME
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from IOT_INDEX_INFO_ROLE
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<!-- 根据条件查询 -->
	<select id="selectByCondition"
		parameterType="cn.soa.entity.Condition" resultMap="BaseResultMap">
		select
		t1.NAME,t1.ROLID, t2.PAGE_ID, t2.PAGE_NAME FROM IOT_USER_ROLE t1
		LEFT
		JOIN IOT_INDEX_INFO_ROLE t2
		ON t1.ROLID = t2.ROLE_ID
		<where>
			<if test="roleName!=null and roleName != ''">
				and t1.NAME like '%' || #{roleName,jdbcType=VARCHAR} ||
				'%'
			</if>
		</where>
	</select>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		IOT_INDEX_INFO_ROLE
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="cn.soa.entity.IndexInfoRole">
		insert into
		IOT_INDEX_INFO_ROLE (ID, ROLE_ID, PAGE_ID,
		PAGE_NAME)
		values
		(#{id,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR},
		#{pageId,jdbcType=VARCHAR},
		#{pageName,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="cn.soa.entity.IndexInfoRole">
		insert into IOT_INDEX_INFO_ROLE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="roleId != null">
				ROLE_ID,
			</if>
			<if test="pageId != null">
				PAGE_ID,
			</if>
			<if test="pageName != null">
				PAGE_NAME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=VARCHAR},
			</if>
			<if test="pageId != null">
				#{pageId,jdbcType=VARCHAR},
			</if>
			<if test="pageName != null">
				#{pageName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="cn.soa.entity.IndexInfoRole">
		update IOT_INDEX_INFO_ROLE
		<set>
			<if test="roleId != null">
				ROLE_ID = #{roleId,jdbcType=VARCHAR},
			</if>
			<if test="pageId != null">
				PAGE_ID = #{pageId,jdbcType=VARCHAR},
			</if>
			<if test="pageName != null">
				PAGE_NAME = #{pageName,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="cn.soa.entity.IndexInfoRole">
		update IOT_INDEX_INFO_ROLE
		set ROLE_ID =
		#{roleId,jdbcType=VARCHAR},
		PAGE_ID = #{pageId,jdbcType=VARCHAR},
		PAGE_NAME = #{pageName,jdbcType=VARCHAR}
		where ID =
		#{id,jdbcType=VARCHAR}
	</update>
	<delete id="deleteRecords"
		parameterType="cn.soa.entity.UserRole">
		delete from IOT_INDEX_INFO_ROLE where ROLE_ID in
		<foreach collection="list" index="index" item="item" open="("
			separator="," close=")">
			#{item.rolid,jdbcType=VARCHAR}
		</foreach>
	</delete>
</mapper>