<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="cn.soa.dao.usermanagement.OrganManagementMapper">

	<!-- ===========================1、查询===============================  -->
	<!-- 1.1 查询所有人员组织信息 -->
	<!-- List<UserOrganization> findAllOrgans(); -->
	<select id="findAllOrgans" resultType="cn.soa.entity.UserOrganization">
		SELECT
			*
		FROM
			IOT_USER_ORGANIZATION
	</select>
	
	<!-- ===========================2、新增===============================  -->
	<!-- 2.1 添加人员组织关系 -->
	<!-- Integer insertUserOrgan(@Param("usernum") String usernum, @Param("name") String name, @Param("parentId") String parentId, @Param("password") String password); -->
	<insert id="insertUserOrgan">
		<selectKey order="BEFORE" resultType="string" keyProperty="organid">
			SELECT sys_guid() FROM dual
		</selectKey>
		INSERT INTO
			IOT_USER_ORGANIZATION
			(ORGID, NAME, PARENT_ID, USERNUM, USER_PASSWORD, STATE, IS_PARENT, NOTE)
		VALUES(
			<if test="organid != null and organid != ''">
				#{organid},
			</if>
			<if test="name != null and name != ''">
				#{name},
			</if>
			<if test="parentId != null and parentId != ''">
				#{parentId},
			</if>
			<if test="usernum != null and usernum != ''">
				#{usernum},
			</if>
			<if test="password != null and password != ''">
                #{password},
            </if>
			1, 1, '用户'
		)
	</insert>
	
	<!-- ===========================3、更新===============================  -->
	<!-- 3.1 添加人员组织关系 -->
	<!-- Integer updateUserOrga(@Param("usernum") String usernum, @Param("name") String name,  @Param("parentId") String parentId); -->
	<update id="updateUserOrga">
		UPDATE
			IOT_USER_ORGANIZATION
		<set>
			<if test="parentId != null and parentId != ''">
				PARENT_ID = #{parentId},
			</if>
			<if test="name != null and name != ''">
				NAME = #{name}
			</if>
		</set>
		WHERE
			USERNUM = #{usernum, jdbcType=VARCHAR}
	</update>
</mapper>
 

