<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="cn.soa.dao.usermanagement.RoleManagementMapper">

	<!-- ===========================1、查询===============================  -->
	<!-- 1.1 条件查询角色列表 -->
	<!-- List<UserRoleVO> findUserRoles(@Param("roleName") String roleName,@Param("state") String state); -->
	<resultMap type="cn.soa.entity.UserRoleVO" id="findUserRolesMap">
		<id column="rolid" property="rolid"/>
		<result column="name" property="name"/>
		<result column="state" property="state"/>
		<result column="create_time" property="create_time"/>
		<result column="last_modify_time" property="last_modify_time"/>
		<result column="note" property="note"/>
	</resultMap>
	
	<select id="findUserRoles" resultMap="findUserRolesMap">
		SELECT
			*
		FROM
			IOT_USER_ROLE
		<where>
			<if test="roleName != null and roleName != ''">
				NAME LIKE '%${roleName}%'
			</if>
			<if test="state != null and state != ''">
				STATE = ${state}
			</if>
		</where>
	</select>
	
	<!-- 1.2 根据角色ID查询人员列表 -->
	<!-- List<String> findUserByRolid(String rolid); -->
	<select id="findUserByRolid" resultType="string">
		SELECT
			USERID
		FROM
			IOT_USER_USER_ROLE
		WHERE
			ROLID = #{rolid, jdbcType=VARCHAR}
	</select>
	
	<!-- 1.3 查询角色类型是否存在 -->
	<!-- Integer findRoleByName(String roleName); -->
	<select id="findRoleByName" resultType="int">
		SELECT
			count(1)
		FROM
			IOT_USER_ROLE
		WHERE
			NAME = #{roleName, jdbcType=VARCHAR}
	</select>
	
	<!-- ===========================2、新增===============================  -->
	<!-- 2.1 添加用户角色 -->
	<!-- Integer insertUserRole(@Param("usernum") String usernum, @Param("rolid") String rolid); -->
	<insert id="insertUserRole">
		<selectKey order="BEFORE" resultType="string" keyProperty="urid">
			SELECT sys_guid() FROM dual
		</selectKey>
	
		INSERT INTO
			IOT_USER_USER_ROLE
			(USER_ROL_ID, USERID, ROLID)
		VALUES(
			<if test="urid != null and urid != ''">
				#{urid},
			</if>
			<if test="usernum != null and usernum != ''">
				#{usernum},
			</if>
			<if test="rolid != null and rolid != ''">
				#{rolid}
			</if>
		)
	</insert>
	
	<!-- 2.2 添加新角色类型 -->
	<!-- Integer insertNewRole(@Param("role") UserRole role);-->
	<insert id="insertNewRole" parameterType="cn.soa.entity.UserRole">
		<selectKey order="BEFORE" resultType="string" keyProperty="rolid">
			SELECT sys_guid() FROM dual
		</selectKey>
		
		INSERT INTO
			IOT_USER_ROLE
			(ROLID, NAME, STATE, CREATE_TIME, LAST_MODIFY_TIME, NOTE, REMARK1, REMARK2)
		VALUES(
			<if test="role != null">
				<if test="rolid != null and rolid != ''">
					#{rolid},
				</if>
				<if test="role.name != null and role.name != ''">
					#{role.name},
				</if>
				0,
				CURRENT_DATE,
				CURRENT_DATE,
				#{role.note, jdbcType=VARCHAR},
				#{role.remark1, jdbcType=VARCHAR},
				#{role.remark2, jdbcType=VARCHAR}
			</if>
		)
	</insert>
	
	<!-- ===========================3、更新===============================  -->
	<!-- 3.1 更新角色的状态 -->
	<!-- Integer updateRoleState(@Param("rolid")String rolid, @Param("state")Integer state, @Param("name")String name); -->
	<update id="updateRoleState">
		UPDATE 
			IOT_USER_ROLE
		<set>
			<if test="state != null">
				STATE = ${state},
			</if>
			<if test="name != null and name != ''">
				NAME = ${name},
			</if>
			LAST_MODIFY_TIME = CURRENT_DATE
		</set>
		WHERE
			ROLID = #{rolid, jdbcType=VARCHAR}
	</update>
	
	
	<!-- ===========================4、删除===============================  -->
	<!-- 4.1 删除角色类型 -->
	<!-- Integer deleteRoleType(String rolid); -->
	<delete id="deleteRoleType" parameterType="string">
		DELETE FROM
			IOT_USER_ROLE
		WHERE
			ROLID = #{rolid, jdbcType=VARCHAR}
	</delete>
	
	<!-- 4.2 删除角色的权限 -->
	<!-- Integer deleteRoleAuth(String rolid); -->
	<delete id="deleteRoleAuth" parameterType="string">
		DELETE FROM
			IOT_USER_ROLE_AUTH
		WHERE
			ROLID = #{rolid, jdbcType=VARCHAR}
	</delete>
	
	<!-- 4.3 删除角色人员关系 -->
	<!-- Integer deleteRoleUser(String rolid); -->
	<delete id="deleteRoleUser" parameterType="string">
		DELETE FROM
			IOT_USER_USER_ROLE
		WHERE
			ROLID = #{rolid, jdbcType=VARCHAR}
	</delete>
	
</mapper>
 

