<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="cn.soa.dao.usermanagement.UserManagementMapper">

	<!-- ===========================1、查询===============================  -->
	
	<!-- 1.1、条件查询用户信息列表-->
	<!-- List<UserInfoVO> findUsersByCondition(@Param("query") UserQueryCondition query); -->
	
	<resultMap type="cn.soa.entity.UserInfoVO" id="findUsersByconditionMap">
		<id column="usernum" property="usernum"></id>
		<result column="nname" property="nname"></result>
		<result column="age" property="age"></result>
		<result column="sex" property="sex"></result>
		<result column="telephone" property="telephone"></result>
		<result column="create_time" property="create_time"></result>
		<result column="last_modify_time" property="last_modify_time"></result>
		<result column="state" property="state"></result>
		<result column="picture" property="picture"></result>
		<association property="organ" javaType="cn.soa.entity.UserOrganization">
			<id column="orgid" property="orgid"></id>
			<result column="ousernum" property="usernum"></result>
			<result column="oname" property="name"></result>
			<result column="parent_id" property="parent_id"></result>
			<result column="is_parent" property="is_parent"></result>
			<result column="ostate" property="state"></result>
			<result column="onote" property="note"></result>
		</association>
		<collection property="roles" ofType="cn.soa.entity.UserRole" column="usernum" select="selectUserRole">
			<id column="rolid" property="rolid"></id>
			<result column="rname" property="name"></result>
			<result column="rstate" property="state"></result>
			<result column="rcreate_time" property="create_time"></result>
			<result column="rlast_modify_time" property="last_modify_time"></result>
			<result column="rnote" property="note"></result>
		</collection>
	</resultMap>
	
	<select id="findUsersByCondition" resultMap="findUsersByconditionMap">
		SELECT
			*
		FROM
			(
				SELECT
					info.*, ROWNUM rownum1
				FROM
					(
						SELECT
							info.*, org.orgid orgid, org.usernum ousernum, org.name oname, org.parent_id parent_id, 
							org.is_parent is_parent, org.state ostate, org.note onote
						FROM
							IOT_USER_INFO info LEFT JOIN IOT_USER_ORGANIZATION org ON info.usernum = org.usernum
						<where>
							<if test="query != null">
								<if test="query.usernum != null and query.usernum != '' ">
									info.usernum LIKE '%${query.usernum}%'
								</if>
								<if test="query.nname != null and query.nname != '' ">
									AND info.nname LIKE '%${query.nname}%'
								</if>
								<if test="query.state != null">
									AND info.state = ${query.state}
								</if>
							</if>
						</where>
						ORDER BY info.nname ASC
					) info
				<where>
					<if test="query != null and query.page != null and query.limit != null">
						ROWNUM &lt;= (${query.limit}*${query.page})
					</if>
				</where>
			) info
		<where>
			<if test="query != null and query.page != null and query.limit != null">
				rownum1 &gt; (${query.limit}*(${query.page}-1))
			</if>
		</where>
	</select>
	
	<select id="selectUserRole" resultType="cn.soa.entity.UserRole">
		SELECT
			ur.*
		FROM
			IOT_USER_USER_ROLE uur RIGHT JOIN IOT_USER_ROLE ur ON uur.rolid = ur.rolid
		WHERE
			uur.userid = #{usernum}
	</select>

	<!-- 1.2 统计条件查询的用户信息数量 -->
	<!-- Integer countUsersByCondition(@Param("query") UserQueryCondition query); -->
	<select id="countUsersByCondition" resultType="int">
		SELECT
			count(DISTINCT(info.usernum))
		FROM
			IOT_USER_INFO info LEFT JOIN IOT_USER_ORGANIZATION org ON info.usernum = org.usernum
			LEFT JOIN IOT_USER_USER_ROLE uur ON info.usernum = uur.userid
			LEFT JOIN IOT_USER_ROLE ur ON uur.rolid = ur.rolid
		<where>
			<if test="query != null">
				<if test="query.usernum != null and query.usernum != '' ">
					info.usernum LIKE '%${query.usernum}%'
				</if>
				<if test="query.nname != null and query.nname != '' ">
					AND info.nname LIKE '%${query.nname}%'
				</if>
				<if test="query.state != null">
					AND info.state = ${query.state}
				</if>
			</if>
		</where>
	</select>
	
	
	<!-- ===========================2、新增===============================  -->
	<!-- 2.1 新增用户信息 -->
	<!-- Integer insertUserInfo(@Param("user") UserInfoVO user); -->
	<insert id="insertUserInfo" parameterType="cn.soa.entity.UserInfoVO">
		INSERT INTO
			IOT_USER_INFO
			(USERNUM, NNAME, SEX, TELEPHONE, CREATE_TIME, 
			LAST_MODIFY_TIME, NOTE, PASSWORD, STATE, PICTURE)
		VALUES(
			<if test="user.usernum != null and user.usernum != ''">
				#{user.usernum},
			</if>
			<if test="user.nname != null and user.nname != ''">
				#{user.nname},
			</if>
			<if test="user.sex != null and user.sex != ''">
				#{user.sex},
			</if>
			#{user.telephone, jdbcType=VARCHAR},
			#{user.create_time, jdbcType=DATE},
			#{user.last_modify_time, jdbcType=DATE},
			#{user.note, jdbcType=VARCHAR},
			<if test="user.password != null and user.password != ''">
				#{user.password},
			</if>
			#{user.state, jdbcType=INTEGER},
			#{user.picture, jdbcType=VARCHAR}
		)
	</insert>
	
	<!-- ===========================3、更新===============================  -->
	<!-- 3.1 更新用户在用户表状态 -->
	<!-- Integer updateUserState(String usernum, Integer state); -->
	<update id="updateUserState">
		UPDATE 
			IOT_USER_INFO
		<set>
			<if test="state != null">
				STATE = ${state}
			</if>
		</set>
		WHERE
			USERNUM = #{usernum, jdbcType=VARCHAR}
	</update>
	
	<!-- 3.2 更新用户在组织表状态 -->
	<!-- Integer updateOrganState(String usernum, Integer state);-->
	<update id="updateOrganState">
		UPDATE 
			IOT_USER_ORGANIZATION
		<set>
			<if test="state != null">
				STATE = ${state}
			</if>
		</set>
		WHERE
			USERNUM = #{usernum, jdbcType=VARCHAR}
	</update>
	
	<!-- 3.2 更新用户信息 -->
	<!-- Integer updatetUserInfo(@Param("user") UserInfoVO user); -->
	<update id="updatetUserInfo">
		UPDATE 
			IOT_USER_INFO
		<set>
			<if test="user != null">
				<if test="user.nname != null and user.nname != ''">
					NNAME = #{user.nname},
				</if>
				<if test="user.sex != null and user.sex != ''">
					SEX = #{user.sex},
				</if>
				TELEPHONE = #{user.telephone, jdbcType=VARCHAR},
				LAST_MODIFY_TIME = #{user.last_modify_time, jdbcType=DATE},
				NOTE = #{user.note, jdbcType=VARCHAR},
				<if test="user.picture != null and user.picture != ''">
					PICTURE = #{user.picture}
				</if>
			</if>
		</set>
		WHERE
			USERNUM = #{user.usernum, jdbcType=VARCHAR}
	</update>
	
	<!-- 3.3 更新用户密码 -->
	<!-- Integer updateUserPassword(@Param("usernum") String usernum, @Param("password") String password); -->
	<update id="updateUserPassword">
		UPDATE 
			IOT_USER_INFO
		SET
			<if test="passowrd != null and password != ''">
				PASSWORD = #{password}
			</if>
		WHERE
			USERNUM = #{user.usernum, jdbcType=VARCHAR}
	</update>
	
</mapper>
 

